*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    font-family: inherit;
}

html {
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "apple color emoji", "segoe ui emoji", "Segoe UI Symbol", "noto color emoji";
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(-45deg, #ffaa00, #ffd400, #ffaa00);
    user-select: none;
    -webkit-user-select: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.container h1 {
    font-size: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.container h1 .points {
    background-color: #ff8800;
    color: white;
    padding: 0.5rem 1rem 0.9rem;
    line-height: 0.8;
    border-radius: 0.5rem;
}

.container .togglePlay {
    padding: 0.5rem 1rem;
    background-color: #418f01;
    color: white;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.container .togglePlay:hover {
    background-color: #2d6301;
}

.container .game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.game .hole {
    position: relative;
    overflow: hidden;
    width: 250px;
}

.game .hole .dirt {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
}

.game .hole .mole {
    max-width: 150px;
    position: relative;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
    cursor: pointer;
}

.game .hole .mole.active {
    bottom: -20px;
}

.game .hole .mole.bait {
    transition: bottom 0.2s ease;
    bottom: -100px;
}

@media screen and (max-width:700px) {
    .container h1 {
        font-size: 3rem;
    }
}